.container-nav {
  position: absolute;
  z-index: 10;
  margin: 0;  
  height: 100vh;
  left: 0;
  inset: 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburger {
  position: absolute;
  top: 0;
  left: 10px;
  cursor: pointer;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #f4f4f4;
  display: none;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.navbar.open {
  display: flex;
  opacity: 1;
  transform: translateX(0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px  
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 10px 0;
}

.navbar li a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: block;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navbar li a:hover {
  background-color: #ddd;
}
